<% content_for :title do %>Incentivo<% end %>
<h3>Asignar Incentivo a Orden de Pago</h3>
<div class="form">
  <%= simple_form_for @incentivo do |form| %>
    <%= form.association :pago, :label_method => :id, include_blank: true, label: "Orden de Pago"  %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', incentivos_path %>