<p>
  <strong>Orden de Pago:</strong>
  <%= @incentivo.pago.id%>
</p>

<p>
  <strong>Incentivo No.:</strong>
  <%= @incentivo.id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= number_to_currency(@incentivo.valor_incentivo, :precision => 0) %>
</p>
  

<%= link_to 'Regresar', incentivos_path %>
