<p id="notice"><%= notice %></p>

<h1>Listado Factura Proveedor</h1>

<table>
  <thead>
    <tr>
      <th>Factura</th>
      <th>Ordene</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factura_proveedors.each do |factura_proveedor| %>
      <tr>
       
        <td><h4><%= factura_proveedor.fecha_recepcion %></h4></td>
        <td><h4><%= factura_proveedor.fecha_vencimiento %></h4></td>
        <td><h4><%= factura_proveedor.ordene_id %></h4></td>
        <td><h4><%= factura_proveedor.proveedore_id %></h4></td>
        <td><h4><%= factura_proveedor.importe %></h4></td>
        <td><h4><%= factura_proveedor.iva %></h4></td>
        <td><h4><%= factura_proveedor.devolucion %></h4></td>
        <td><%= link_to 'Show', factura_proveedor %></td>
        <td><%= link_to 'Edit', edit_factura_proveedor_path(factura_proveedor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factura proveedor', new_factura_proveedor_path %>