<h1>Cargos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargo.each do |cargo| %>
	    <tr>
		    <td><%= cargo.nombre %></td>
        <td><%= cargo.depatamento.nombre %></td>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cargo', new_cargo_path %>