<% content_for :title do %>Cargo<% end %>
<h3>Cargo</h3>
<div class="form">
  <%= simple_form_for @cargo do |form| %>
    <%= form.input :nombre %>
    <%= form.association :departamento, :label_method => :nombre, include_blank: false, label: "Departamento"  %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>