<% content_for :title do %>Departamento<% end %>
<h3>Departamento</h3>
<div class="form">
  <%= simple_form_for @departamento do |form| %>
    <%= form.input :nombre %>
    <%= form.association :colaboradores, :label_method => :cedula,  label: "Jefe" %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>