<p id="notice"><%= notice %></p>

<h1>Listado de Activos Fijos</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
    <% @activo_fijos.each do |activo_fijo| %>
      <tr>
        <td><%= activo_fijo.fecha %></td>
        
        <td><%= link_to 'Destroy', activo_fijo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Pago', new_activo_fijo_path %>
