<% content_for :title do %>Gastos<% end %>
<h3>Pagar Gastos</h3>
<div class="form">
  <%= simple_form_for @gasto do |form| %>
   
    <%= form.association :pago, :label_method => :nombre, include_blank: true, label: "Orden de Pago"  %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
  <br>
  <%= link_to 'Pagar', gastos_path %>
</div>