<h1>Clases</h1>

<table>
  <thead>
    <tr>
      <th>Clase</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clase.each do |clase| %>
	    <tr>
		    <td><%= clase.clase %></td>
		    <td><%= clase.descripcion %></td>
		</tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nueva Clase', new_clase_path %>