<% content_for :title do %>Clase<% end %>
<h3>Clase</h3>
<div class="form">
  <%= simple_form_for @clase do |form| %>
   <%= form.input :clase %>
   <%= form.input :descripcion%>
   <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>