<h1>Subcuentas</h1>

<table>
  <thead>
    <tr>
      <th>Subcuenta</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcuenta_puc.each do |subcuenta_puc| %>
	    <tr>
		    <td><%= subcuenta_puc.subcuenta %></td>
		    <td><%= subcuenta_puc.descripcion %></td>
		</tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nueva Subcuenta', new_subcuenta_puc_path %>