<h1>Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo.each do |grupo| %>
	    <tr>
		    <td><%= grupo.grupo %></td>
		    <td><%= grupo.descripcion %></td>
		</tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nueva grupo', new_grupo_path %>