<% content_for :title do %>Factura Item<% end %>
<h3>Factura Item</h3>
	<div class="form">
	<%= simple_form_for @factura_item do |form| %>
	<div class="field">
    <%= form.input :facturar %><br>
	</div>
	<%= form.association :factura, :label_method => :id, include_blank: true, label: "Factura"  %><br>
	<div class="actions">
    <%= form.submit %>
	</div>
<% end %>
