<% content_for :title do %>Factura Item<% end %>
<h3>Factura Item</h3>
<div class="form">
<%= simple_form_for @factura_item do |form| %>
    <%= form.association :ordene, :label_method => :ordene_id,  label: "Orden" %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
