<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado la recuperacion de tu clave. Accede al siguiente enlace para completar el proceso. .</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste la recuperacion de tu clave, por favor ignora este correo.</p>
<p>Tu clave no cambiara sino hasta que se haga click en el enlace incluido en este correo.</p>
